body {
    background-color: red;
}

.green {
    display: flex;
    background-color: green;
    height: calc(100vh - 40px / 2);
    width: calc(100% - 80px);
    margin: auto;
    padding: 10px;
    overflow: auto;
    box-sizing: border-box;
}

.blue {
    height: 100%;
    min-width: 300px;
    background-color: blue;
    padding: 10px;
    overflow: auto;
    box-sizing: border-box;
}

.blue:not(:first-child) {
    margin-left: 10px;
}

.yellow {
    width: 100%;
    height: 50px;
    background-color: yellow;
    margin-bottom: 10px;
}

.h-100 {
    height: 100px;
}

.h-150 {
    height: 150px;
}

.h-400 {
    height: 400px;
}

.green .blue:first-child .yellow:nth-child(2n) {
    background: linear-gradient(to bottom, white, black);
}

.green .blue:first-child .yellow:nth-child(2n+1) {
    background: linear-gradient(to top, white, black);
}

.green .blue:nth-child(2) .yellow:nth-child(3n+1) img {
    height: 100%;
    width: 100%;
    border: 6px solid transparent;
    border-image: linear-gradient(to right, red, blue);
    box-sizing: border-box;
    border-image-slice: 1;
    background: url("https://cs8.pikabu.ru/post_img/big/2016/02/04/7/145458292112119207.jpg") no-repeat center;
    background-size: 300px auto;
}

.green .blue:nth-child(2) .yellow:nth-child(2):hover {
    box-shadow: 0 0 10px grey;
    background-color: blue;
    transition: 0.5s linear;
}

.green .blue:nth-child(2) .yellow:nth-child(3):hover {
    box-shadow: 0 0 10px grey;
    background-color: blue;
    transition: 0.5s linear;
}

.green .blue:nth-child(2) .yellow:nth-child(2n+1) {
    border: 15px dotted black;
    box-sizing: border-box;
}

p {
    color: green;
    text-align: center;
}

.yellow.h-400 p {
    line-height: 365px;
}

.yellow.h-100 p {
    margin-top: -45px;
}

.green .blue:nth-child(2) .yellow:nth-child(2n+1):hover {
    border-color: white;
    transition: 2s linear;
}


.green .blue:nth-child(3) .h-400:after {
    content: attr(div);
    display: block;
    background-color: grey;
    height: 100%;
    transition: 0.5s;
    position: relative;
}

.green .blue:nth-child(3) .h-400:hover::after {
    background-color: transparent;
    transition: 0.5s linear;
    transform: translate(300px, 20px);
}

.green .blue:nth-child(4) .yellow:nth-child(2n) img {
    background: url("https://cs8.pikabu.ru/post_img/big/2016/02/04/7/145458292112119207.jpg") no-repeat top left;
    width: 100%;
    height: 100%;
    background-size: 10px;
}

.green .blue:nth-child(4) .yellow:nth-child(2n) img:hover {
    background-position: bottom right;
}

.green .blue:last-child .yellow {
    transition: .5s;
}

.green .blue:last-child .yellow:hover {
    background-color: red;
    width: calc(100% - 30px);
    transform: translateY(-20px);
    transition: .5s;
}